@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary;
  }
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.background-cart-svg {
  background-image: url('https://raw.githubusercontent.com/jnsoler12012/Ecommerce-shop-GitPage/84ab48b2e0fc167d48bad6cb669fcb9743dd124b/assets/img/cart.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
}

.background-bg-hero-svg {
  background-image: url("https://raw.githubusercontent.com/jnsoler12012/Ecommerce-shop-GitPage/9cb053e4748d998b7f6ff0ea43c94f355a19214a/assets/img/bg_hero.svg");

}

.background-cover {
  background-image: url("https://raw.githubusercontent.com/jnsoler12012/Ecommerce-shop-GitPage/master/assets/img/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 23vw;
  height: 100%;
  max-width: 23vw;
}